body{
    background-image: url(https://www.worldatlas.com/upload/cf/0d/2a/shutterstock-2108992679.jpg);
}
header{
    font-size: 20px;
    color:red;
    text-align: center;
    margin:auto 0;
}

img{
    height: 300px;
    width: 270px;
    padding:15px;
    margin-left: 100px;

}
.image_in_basket{
    display:flex
    align-content:center;
}